<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Don't show directory listings for URLs which map to a directory. -->
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
		    <!-- Rule to rewrite robots.txt file if www is not in the URL -->
        <rule name="Robots Disallow" stopProcessing="true">
          <match url="robots.txt" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			      <add input="{HTTP_HOST}" pattern="www(\.)" negate="true" />
          </conditions>
          <action type="Rewrite" url="robots_disallow.txt" />
        </rule>
        <!-- Redirect Non www traffic to www -->
        <rule name="WWW" stopProcessing="true">
          <match url="^(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(s1|s2|s3|s4|s5|beta|www1|www)(\.)" negate="true" />
            <add input="{HTTP_HOST}" pattern="(\.local)" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.studyabroad.com/{R:0}" />
        </rule>
        <!-- / Redirect Non www traffic to www -->
        <rule name="Redirect for user/createuser.aspx">
          <match url="^user/createuser.aspx" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Redirect for bounce">
          <match url="^bounce/" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Redirect for express">
          <match url="^express/" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Redirect for f">
          <match url="^f/" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Redirect for members">
          <match url="^members/" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Redirect for images root folder">
          <match url="^images/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/images/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect for hb root folder">
          <match url="^hb/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/hb/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect for giffile root folder">
          <match url="^giffile/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/hb/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect for content/portals root folder">
          <match url="^content/portals/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/content/portals/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect resized-image.ashx images" stopProcessing="true">
          <match url="resized-image.ashx/(.*)/(.*)/(.*)/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/{R:4}" appendQueryString="false" />
        </rule>
        <rule name="Redirect cfs-file.ashx images" stopProcessing="true">
          <match url="cfs-file.ashx/(.*)/(.*)/(.*)/(.*)" />
          <action type="Redirect" url="/sites/default/files/images/{R:4}" appendQueryString="false" />
        </rule>
        <rule name="Redirect taiwan-proc to taiwan" stopProcessing="true">
          <match url="(.*)taiwan-proc(.*)" />
          <action type="Redirect" url="/{R:1}taiwan{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Protect files and directories from prying eyes" stopProcessing="true">
          <match url="\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)$|^(\..*|Entries.*|Repository|Root|Tag|Template)$" />
          <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Access is forbidden." />
        </rule>
        <rule name="Force simple error message for requests for non-existent favicon.ico" stopProcessing="true">
          <match url="favicon\.ico" />
          <action type="CustomResponse" statusCode="404" subStatusCode="1" statusReason="File Not Found" statusDescription="The requested file favicon.ico was not found" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>
        <!--Removes anything with a legacy file extention unless it is in the /programs section.-->
        <rule name="Default File" stopProcessing="true">
          <match url="^(([^/]+/)*)default\.(aspx|asp)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="^/programs" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="Index Files" stopProcessing="true">
          <match url="^(([^/]+/)*)index\.(htm|html|aspx|asp)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="^/programs" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        
        <!-- Rewrite URLs of the form 'x' to the form 'index.php?q=x'. -->
        <rule name="Short URLs" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
    </httpErrors>

    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>       
  </system.webServer>
</configuration>

